$font: Rubik, sans-serif;

@forward 'vuetify/settings' with (
  $body-font-family: $font,

  $card-title-word-break: break-word,
  $card-title-padding: 1rem 1rem 0.5rem 1rem,

  $card-subtitle-overflow: none,
  $card-subtitle-text-overflow: none,
  $card-subtitle-white-space: none,

  $breadcrumbs-padding-y: 18px,
  $breadcrumbs-padding-x: 6px,

  $expansion-panel-title-font-size: 1rem,

  $label-opacity: 0.9,

  $typography: (
    'label-large': (
      'size': 0.875rem,
      'weight': 500,
      'line-height': 1.4285714286,
      'letter-spacing': 0.07em,
      'font-family': $font,
    ),
  )
);
